In [15]:
import numpy as np 
import pandas as pd
import tensorflow as tf

In [85]:
df=pd.read_csv('TMDB_movie_dataset_v11.csv')
df.shape

(1249252, 24)

In [86]:
xdf=df.iloc[:10000,:]
xdf.shape

(10000, 24)

In [87]:
choosen_df = xdf[['id','title',   'overview', 'genres', 'keywords']]

In [88]:
choosen_df.dropna(inplace=True)

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\492651049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df.dropna(inplace=True)

In [89]:
choosen_df['overview']=(choosen_df['overview'].apply(lambda x :x.split()))

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\3486146180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df['overview']=(choosen_df['overview'].apply(lambda x :x.split()))

In [90]:
choosen_df['genres']=choosen_df['genres'].apply(lambda x: x.replace(" ",""))

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\1991100038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df['genres']=choosen_df['genres'].apply(lambda x: x.replace(" ",""))

In [91]:
choosen_df['keywords']=choosen_df['keywords'].apply(lambda x: x.replace(" ",""))

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\3737118253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df['keywords']=choosen_df['keywords'].apply(lambda x: x.replace(" ",""))

In [92]:
choosen_df['overview']=choosen_df['overview'].apply(lambda x: ''.join(x))

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\3232127803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df['overview']=choosen_df['overview'].apply(lambda x: ''.join(x))

In [93]:
choosen_df['words']=choosen_df['genres']+choosen_df['keywords']+choosen_df['overview']

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\1512895843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df['words']=choosen_df['genres']+choosen_df['keywords']+choosen_df['overview']

In [94]:
choosen_df['words']

0       Action,ScienceFiction,Adventurerescue,mission,...
1       Adventure,Drama,ScienceFictionrescue,future,sp...
2       Drama,Action,Crime,Thrillerjoker,sadism,chaos,...
3       Action,Adventure,Fantasy,ScienceFictionfuture,...
4       ScienceFiction,Action,Adventurenewyorkcity,sup...
                              ...
9993    Family,Adventurerescue,poker,sports,shipwreck,...
9994    Crime,Drama,Thrillerhitman,criminalBeautifulCa...
9995    Action,Thriller,ScienceFiction,Crime,Horrorher...
9996    Comedy,Family,Crimesydney,australia,highschool...
9999    War,Drama,ScienceFictiongreatbritain,northerne...
Name: words, Length: 9551, dtype: object

In [95]:
choosen_df.drop(columns=['genres','keywords','overview'])

,id,title,words
0,27205,Inception,"Action,ScienceFiction,Adventurerescue,mission,..."
1,157336,Interstellar,"Adventure,Drama,ScienceFictionrescue,future,sp..."
2,155,The Dark Knight,"Drama,Action,Crime,Thrillerjoker,sadism,chaos,..."
3,19995,Avatar,"Action,Adventure,Fantasy,ScienceFictionfuture,..."
4,24428,The Avengers,"ScienceFiction,Action,Adventurenewyorkcity,sup..."
...,...,...,...
9993,17264,The Black Stallion,"Family,Adventurerescue,poker,sports,shipwreck,..."
9994,16164,Killshot,"Crime,Drama,Thrillerhitman,criminalBeautifulCa..."
9995,19384,Dark Angel,"Action,Thriller,ScienceFiction,Crime,Horrorher..."
9996,34729,Our Lips Are Sealed,"Comedy,Family,Crimesydney,australia,highschool..."
9999,17835,Threads,"War,Drama,ScienceFictiongreatbritain,northerne..."

In [96]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [97]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()

In [98]:
choosen_df['words']=choosen_df['words'].apply(stem)

C:\Users\rites\AppData\Local\Temp\ipykernel_99944\2798920379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  choosen_df['words']=choosen_df['words'].apply(stem)

In [99]:
def stem(x):
    y=x.split(",")
    output=[]
    for word in y:
        output.append(ps.stem(word))

    return ','.join(output)

In [100]:
vectors  = cv.fit_transform(choosen_df['words']).toarray()

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

In [102]:
similarity_vector = cosine_similarity(vectors)

In [110]:
def recommend(movie):
    movie_index = choosen_df[choosen_df['title']==movie].index[0]
    distances = similarity_vector[movie_index]
    movies_list =sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
    for i in movies_list:
        print(choosen_df.iloc[i[0]].title)

In [111]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman: Under the Red Hood
Batman & Robin
Kick-Ass 2
Iron Monkey
The Old Guard
Project Power
Batman Returns
The Punisher

In [112]:
import pickle

In [113]:
pickle.dump(choosen_df,open('movies.pkl','wb'))

In [114]:
pickle.dump(similarity_vector,open('similarity.pkl','wb'))